
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/MenuLayout.cshtml";
}


<h2>Thanh Toán Thành Công Đơn Hàng Bằng PayPal</h2>
<a href="/Home/DonHang" class="btn">Quay Trở lại Đơn Hàng Của Bạn</a>
<div class="footer" style="background:#000;color:#8a8a8a;font-size:14px;padding:60px 0 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Đồ Án Thương Mại Điện Tử</h3>
                <p>Thứ 2 - Ca 1</p>
            </div>
            <div class="col-md-4">
                <h3>Website Bán Xe Đạp</h3>
                <p>(E-Commerce)</p>
            </div>
            <div class="col-md-4">
                <h3>Thành Viên Nhóm</h3>
                <ul>
                    <li>Trần Minh Triết 17DH110049</li>
                    <li>Lê Ngọc Bảo Toàn 17DH110050</li>
                    <li>Nguyễn Bá Duy Việt 17DH110057</li>

                </ul>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
        </div>
    </div>
</div>

